@import "tailwindcss";
@import "uniwind";

@theme {
  --color-sale: #c41e3a;
  --color-white: #ffffff;
  --color-base-50: #fafafa;
  --color-base-100: #f5f5f5;
  --color-base-200: #e5e5e5;
  --color-base-300: #d4d4d4;
  --color-base-400: #a3a3a3;
  --color-base-500: #737373;
  --color-base-600: #525252;
  --color-base-700: #404040;
  --color-base-800: #262626;
  --color-base-900: #171717;
  --color-base-950: #0a0a0a;
  --font-serif: "Newsreader_400Regular";
  --font-sans: "Inter_400Regular";
}
